<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="container">
        <h1>Feedback Form</h1>
        <form action="{{ url_for('submit_feedback') }}" method="post" id="feedbackForm">
            <div class="form-group">
                <label for="customerSupport">Customer Support:</label>
                <select id="customerSupport" name="customerSupport">
                    <option value="5">Excellent</option>
                    <option value="4">Good</option>
                    <option value="3">Average</option>
                    <option value="2">Poor</option>
                    <option value="1">Very Poor</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cleanliness">Cleanliness:</label>
                <select id="cleanliness" name="cleanliness">
                    <option value="5">Excellent</option>
                    <option value="4">Good</option>
                    <option value="3">Average</option>
                    <option value="2">Poor</option>
                    <option value="1">Very Poor</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comments">Comments:</label>
                <textarea id="comments" name="comments" rows="4"></textarea>
            </div>
            <button type="submit" class="btn">Submit Feedback</button>
        </form>
    </div>
</body>
</html>
